// Here you can add other styles
.answer-form-group {
	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

ul,
li {
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

h1 {
	margin-bottom: 30px;
}

.job-card {
	width: 100%;
	height: 250px;
	display: flex;
	background-color: #fff;
	cursor: pointer;
	transition: 0.32s;
	overflow: hidden;
	border-radius: 3px;
	margin-bottom: 40px;

	&:hover {
		-webkit-box-shadow: -2px 14px 52px -16px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: -2px 14px 52px -16px rgba(0, 0, 0, 0.75);
		box-shadow: -2px 14px 52px -16px rgba(0, 0, 0, 0.75);
	}

	&__img {
		width: 200px;
		height: 100%;
		object-fit: cover;
	}

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__body {
		padding: 10px 20px;
		width: 100%;
		position: relative;

		&__title {
			margin-bottom: 0;
		}

		&__label {
			font-size: 18px;
		}

		&__price {
			font-size: 18px;
			position: absolute;
			right: 0;
			bottom: 20px;

			.price-meta,
			.price-el {
				margin-right: 10px;
			}
		}

		&__descr {
			margin-top: 10px;
		}

		&__tags {
			display: flex;
		}

		&__skill {
			font-size: 21px;
			margin-bottom: 20px;
		}
	}
}

.tags-list {
	list-style-type: none;
	display: flex;
	margin-left: 10px;

	&__item {
		margin-right: 10px;
	}
}

.course-status {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;

	&.online {
		color: $green;
	}

	&.offline {
		color: $red;
	}
}

.course-image {
	border-bottom: 1px solid $secondary;
}

.add-course-button {
	margin-left: 20px;
}

.aside-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

$width: 100px;

.showbox {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5%;
}
// end demo-specific

.loader {
	position: relative;
	margin: 0 auto;
	width: $width;
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.circular {
	animation: rotate 2s linear infinite;
	height: 60px;
	transform-origin: center center;
	position: absolute;
	top: 10px;
	bottom: 0;
	right: 20px;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
	stroke: #f36f06;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
	0% {
		stroke: $red;
	}
	40% {
		stroke: $blue;
	}
	66% {
		stroke: $green;
	}
	80%,
	90% {
		stroke: $yellow;
	}
}

.form-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}